<!doctype html>
<html class="no-js" lang="">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>{{siteName }} - Styleguide</title>
	<meta name="robots" content="noindex">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="/css/styleguide.css">
</head>
<body>
	 <header class="styleguide-header">
		<svg class="styleguide-zaengle-icon" viewBox="0 0 221.522 221.522" width="25%" height="25%"><g fill-rule="evenodd" clip-rule="evenodd"><path d="M60.76 149.37v18.987h6.143l19.074-18.988M75.14 168.357h86.255V149.37h-67.18M147.617 52.532h-85.59V71.52h66.664"></path><path d="M221.522 0H0v221.522h221.522V0zm-53.165 74.317v.004c0 .192.005.383-.032.57-.016.08-.035.156-.058.234-.03.103-.048.208-.09.308-.04.1-.095.192-.148.286-.04.07-.07.145-.115.213-.107.16-.23.36-.365.496l-67.492 67.246h63.995c1.603 0 3.038 1.1 3.038 2.704v24.77c0 1.605-1.434 2.906-3.037 2.906H57.967c-1.603 0-2.903-1.3-2.903-2.905v-24.77c0-.014.004-.026.004-.04.002-.176.02-.353.053-.528.02-.09.052-.175.078-.262.028-.094.05-.19.087-.28.042-.102.1-.195.153-.29.04-.07.07-.143.114-.21.107-.16.23-.314.365-.45l66.975-67.1H59.418c-1.603 0-3.088-1.296-3.088-2.9V49.544c0-1.604 1.485-2.71 3.088-2.71h106.086c1.603 0 2.852 1.106 2.852 2.71v24.772z"></path><path d="M64.97 143.673h26.85l66.644-66.457h-27.367M136.896 71.52h25.765V52.532h-6.838"></path></g><path opacity=".5" d="M122.124 77.216h46.5L155.21 89.04l-40.126-4.796"></path></svg>
		<h1 class="styleguide-pagetitle"><strong>{{siteName }}</strong> Component Library <span>By Zaengle</span></h1>
	 </header>

	 <div class="styleguide-wrapper" data-sticky-wrap>
		<nav class="styleguide-nav">
		<div class="styleguide-js-sticky" data-margin-top="15">
			{% include 'styleguide/_nav_styleguide' %}	
		</div>
		</nav>
		<main class="styleguide-content">
			{% block content %}
			    <h1 class="styleguide-heading styleguide-header--first">Heading</h1>
				<p class="styleguide-details">This should not be here.</p>
			{% endblock %}
		</main>
	</div>
	<footer class="styleguide-footer">
		<p>&copy; Copyright Zaengle. All rights reserved.</p>
	</footer>
	<script src="/js/styleguide.js"></script>
</body>
</html>