{% extends 'styleguide/_layout_styleguide' %}
{% import 'styleguide/_macros_styleguide' as styleguide %}

{% block content %}
	{# Page intro #}
	<h1 class="styleguide-heading styleguide-header--first">Styleguide</h1>
	<p class="styleguide-details">WIP</p>
{% endblock %}